<!DOCTYPE html>
<html>
    <head>
        <title>Analizador de modelo geométrico en mercados financieros</title>
        <link href="{{ url_for('static',filename='styles/main.css') }}" type= "text/css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav>
                <h1>Analizador de modelo geométrico en mercados financieros&nbsp;   &nbsp;</h1>
                <ul>
                  <li><a href="./">Regresar</a></li>
				  <li><a href="https://arxiv.org/abs/1211.3060">Whitepaper</a></li>
                  <li><a href="https://github.com/CarlosManuelRodr">Acerca de</a></li>
                </ul>
            </nav>
        </header>

        <h2>Resultado del análisis</h2>
        <h3>Última fecha de actualización: {{latestDate}}</h3>
        <div class="row">
            <div class="column">
                <img src={{plotPath}} alt="Plot" style="width: 100%; border-color: #000000; border-style: solid;">
            </div>

            <div class="column">
                <table width="200" border="1">
                    <tbody>
                        <tr>
                            <th scope="col">Cantidad de días (ventana)</th>
                            <th scope="col">P-Valor</th>
                            <th scope="col">Interpretación</th>
                        </tr>
                        {% for tickerItem in tickerTable %}
                        <tr>
                            <td>{{ tickerItem.days }}</td>
                            <td>{{ tickerItem.pvalue }}</td>
                            <td>{{ tickerItem.interpretation }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <footer>©2021 Carlos Manuel Rodríguez Martínez</footer>
    </body>
</html>